@model EBook.Entities.Models.Message

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<h1>Mesaj Ekle</h1>

@using (Html.BeginForm("Create", "Messages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class="text-danger"})

        <label class="control-label col-md-2">Adı Soyadı</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FullName, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Email</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Telefon</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Phone, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Konu</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Subject, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Açıklama</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Ekleme Tarihi</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate, new {htmlAttibutes = new {@class = "form-control", @type="datetime"}})
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <br />
        <input type="submit" value="Kaydet" class="btn btn-primary" />
        <br />
    </div>
}

