<nav id="colorlib-main-nav" role="navigation">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
	<div class="js-fullheight colorlib-table">
		<div class="colorlib-table-cell js-fullheight">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<a href="@Url.Action("Login", "Account")"><i class="icon-user2"></i> Giriş Yap</a>
						<li class="active"><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="@Url.Action("Index", "Categories")">Kategoriler</a></li>
						<li><a href="@Url.Action("Index", "Library")">Kütüphane</a></li>
						<li><a href="@Url.Action("Index", "About")">Hakkında</a></li>
						<li><a href="@Url.Action("Index", "Contact")">İletişim</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="head-title">Works</h2>
					<a href="images/work-1.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-1.jpg);">
						<span><i class="icon-search3"></i></span>
					</a>
					<a href="images/work-2.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-2.jpg);">
						<span><i class="icon-search3"></i></span>
					</a>
					<a href="images/work-3.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-3.jpg);">
						<span><i class="icon-search3"></i></span>
					</a>
					<a href="images/work-4.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-4.jpg);">
						<span><i class="icon-search3"></i></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>